footer.footer
  ul.u-undecorated-list.u-icons-list.payment-methods.footer__payment-methods
    li.payment-methods__item
      span.u-sr-only Оплата картой Visa
      svg.icon(aria-hidden="true", focusable="false", width="36", height="12")
        use(xlink:href="#visa")
    li.payment-methods__item
      span.u-sr-only Оплата картой Mastercard
      svg.icon(aria-hidden="true", focusable="false", width="26", height="20")
        use(xlink:href="#mastercard")
    li.payment-methods__item
      span.u-sr-only Оплата c помощью QIWI
      svg.icon(aria-hidden="true", focusable="false", width="56", height="25")
        use(xlink:href="#qiwi")
    li.payment-methods__item
      span.u-sr-only Оплата c помощью Яндекс.Деньги
      svg.icon(aria-hidden="true", focusable="false", width="87", height="18")
        use(xlink:href="#yandex-money")
  ul.u-undecorated-list.u-icons-list.app-store.footer__app-store
    li.app-store__item
      a.app-store__link(
        href="#",
        target="_blank",
        rel="noopener nofollow",
        title="Скачайте наше приложение в Apple App Store"
      )
        span.u-sr-only Наше приложение в Apple App Store
        svg.icon(
          aria-hidden="true",
          focusable="false",
          width="108",
          height="33"
        )
          use(xlink:href="#appstore")
    li.app-store__item
      a.app-store__link(
        href="#",
        target="_blank",
        rel="noopener nofollow",
        title="Скачайте наше приложение в Google Play"
      )
        span.u-sr-only Наше приложение в Google Play
        svg.icon(
          aria-hidden="true",
          focusable="false",
          width="108",
          height="33"
        )
          use(xlink:href="#google-play")
  .footer__group
    ul.u-undecorated-list.u-icons-list.social-media-profiles.footer__social-media-profiles
      li.social-media-profiles__item
        a.social-media-profiles__link(
          href="#",
          target="_blank",
          rel="noopener nofollow",
          title="Наш Facebook"
        )
          span.u-sr-only Наша страница в Facebook
          svg.icon(
            aria-hidden="true",
            focusable="false",
            width="12",
            height="20"
          )
            use(xlink:href="#facebook")
      li.social-media-profiles__item
        a.social-media-profiles__link(
          href="#",
          target="_blank",
          rel="noopener nofollow",
          title="Наш ВКонтакте"
        )
          span.u-sr-only Наша страница ВКонтакте
          svg.icon(
            aria-hidden="true",
            focusable="false",
            width="20",
            height="12"
          )
            use(xlink:href="#vk")
    ul.u-undecorated-list.u-icons-list.responsible-gaming.footer__responsible-gaming
      li.responsible-gaming__item
        span.u-sr-only Только для людей достигших возраста 18 лет
        svg.icon(
          aria-hidden="true",
          focusable="false",
          width="27",
          height="26"
        )
          use(xlink:href="#18plus")
