header.header
  .logo.header__logo
    a.logo__link(href="/", title=data.siteInfo.title)
      img.logo__pic(
        src="images/ui/pm-logo.png",
        alt="Логотип БК Париматч",
        width="291",
        height="98"
      )
  .header__user-area
    a.btn.btn--dark-border(href="#")
      span.btn__text Регистрация
