link(
  type="image/png",
  href="images/favicon/pm-favicon-270x270.png",
  rel="icon",
  sizes="270x270"
)

meta(name="mobile-web-app-capable", content="yes")
meta(name="theme-color", content=data.siteInfo.accentColor)
meta(name="application-name", content=data.siteInfo.title)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
meta(name="apple-mobile-web-app-title", content=data.siteInfo.title)
